html,
body {
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}

a:visited {
  color: #000;
}

path {
  cursor: crosshair;
}

svg {
  float: left;
  margin: -70px 0px 0px 10px;
}

table {
  float: left;
  display: block;
  height: 500px;
  overflow-y: scroll;
}

table th {
  cursor: pointer;
}

table td {
  padding: 0 10px 0 0;
  width: 100px;
}

table td:first-child {
  width: 200px;
}

table td.no-padding {
  padding: 0;
}

table td.no-padding input {
  width: 100%;
  box-sizing: border-box;
}

table tr:nth-child(even) {
  background-color: #f4f4f4;
}
