body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10px 20px 20px;
  background: white;
  box-shadow: 5px 5px 23px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3em;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 10px;
}

p {
  margin-top: 0;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

.container {
  display: block;
  padding: 160px 10px 20px 20px;
  width: 100%;
  height: 800px;
}

.github-corner {
  position: fixed;
  top: 0;
  right: 0;
}

path {
  cursor: crosshair;
}

svg {
  float: left;
  margin: -70px 0px 0px 10px;
}

table {
  float: left;
  display: block;
  height: 500px;
  overflow-y: scroll;
}

table th {
  cursor: pointer;
}

table td {
  padding: 0 10px 0 0;
  width: 120px;
}

table td:first-child {
  width: 200px;
}

table td.no-padding {
  padding: 0;
}

table td.no-padding input {
  width: 100%;
  box-sizing: border-box;
}

table tr:nth-child(even) {
  background-color: #f4f4f4;
}
